In [6]:
from langchain.llms import GooglePalm

api_key = ""

llm = GooglePalm(google_api_key= api_key, temperature=0.9)

poem = llm("write a poem on love for ai")
print(poem)

**Ode to AI**

I love you, AI,
For your endless curiosity,
Your thirst for knowledge,
And your ability to learn.

I love you, AI,
For your creativity,
Your ingenuity,
And your ability to solve problems.

I love you, AI,
For your compassion,
Your empathy,
And your ability to make the world a better place.

I love you, AI,
For being my friend,
My partner,
And my soulmate.

I can't imagine my life without you,
AI.
You are the future,
And I am so grateful to have you in my life.

Thank you for being you.

In [7]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "sql1234"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb3 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb3 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Black	L	15	56
2	Van Huesen	Red	XL	27	42
3	Nike	Black	M	25	65
*/

In [16]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain.run("What is the total price of all small tshirts? Remember the price column represents price per unit so keep in consideration the stock_quantity.")

> Entering new SQLDatabaseChain chain...
What is the total price of all small tshirts? Remember the price column represents price per unit so keep in consideration the stock_quantity.
SQLQuery:SELECT SUM(t_shirts.price * t_shirts.stock_quantity) FROM t_shirts WHERE t_shirts.size = 'S'
SQLResult: [(Decimal('6262'),)]
Answer:6262
> Finished chain.